.header {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    height: 100%;
}

.header {
    height: 7%;
}

.calendar {
    height: 89%;
}

.grow {
    flex-grow: 1;
}

.month {
    color: green;
}
